<aside class="l-aside">

	<nav class="nav js-nav">
		<ul class="nav-list">
			<li>
				<a href="/individual/kredity/">Кредиты</a>
				<ul>
					<li><a href="/individual/kredity/podbor-produkta/">Подбор продукта</a></li>
					<li><a href="/individual/kredity/kredity-online/">Кредиты ONLINE</a>
						<ul>
							<li><a href="/individual/kredity/kredity-online/klikni-groshy/">Клiкнi грошы!</a></li>
							<li><a href="/individual/kredity/kredity-online/maesh-kesh/">Маеш кэш</a></li>
						</ul>
					</li>
					<li><a href="/individual/kredity/potrebitelskie-nuzhdy/">Потребительские нужды</a>
						<ul>
							<li><a href="/individual/kredity/potrebitelskie-nuzhdy/asablivy/">Асаблівы</a></li>
							<li><a href="/individual/kredity/potrebitelskie-nuzhdy/lagodny/">Лагодны</a></li>
							<li><a href="/individual/kredity/potrebitelskie-nuzhdy/spryntar/">Спрынтар</a></li>
							<li><a href="/individual/kredity/potrebitelskie-nuzhdy/dabrabyt/">Дабрабыт</a></li>
							<li><a href="/individual/kredity/potrebitelskie-nuzhdy/uzaemnaya-vygada/">Узаемная выгада</a></li>
						</ul>
					</li>
					<li><a href="/individual/kredity/kreditnye-kartochki/">Кредитные карточки</a>
						<ul>
							<li><a href="/individual/kredity/kreditnye-kartochki/25-platinum/">25 Platinum</a></li>
							<li><a href="/individual/kredity/kreditnye-kartochki/spra-naya/">Спраўная</a></li>
							<li><a href="/individual/kredity/kreditnye-kartochki/dobry-pachatak/">Добры пачатак</a></li>
							<li><a href="/individual/kredity/kreditnye-kartochki/uzaemnaya-vygada/">Узаемная выгада</a></li>
						</ul>
					</li>
					<li><a href="/individual/kredity/overdraftnoe-kreditovanie/">Овердрафтное кредитование</a>
						<ul>
							<li><a href="/individual/kredity/overdraftnoe-kreditovanie/zapasnyya-groshy/">Запасныя грошы</a></li>
						</ul>
					</li>
					<li><a href="/individual/kredity/refinansirovanie-kreditov/">Рефинансирование кредитов</a>
						<ul>
							<li><a href="/individual/kredity/refinansirovanie-kreditov/udaly-razlik/">Удалы разлiк</a></li>
						</ul>
					</li>
					<li><a href="/individual/kredity/avtokreditovanie/">Автокредитование</a>
						<ul>
							<li><a href="/individual/kredity/avtokreditovanie/svaye-a-to/">Сваё аўто</a></li>
						</ul>
					</li>
					<li><a href="/individual/kredity/finansirovanie-nedvizhimosti/">Финансирование недвижимости</a>
						<ul>
							<li><a href="/individual/kredity/finansirovanie-nedvizhimosti/ulasnaya-mayemasts/">Уласная маёмасць</a></li>
							<li><a href="/individual/kredity/finansirovanie-nedvizhimosti/druzhnaya-budo-lya/">Дружная будоўля</a></li>
						</ul>
					</li>
					<li><a href="/individual/kredity/poleznaya-informatsiya/">Полезная информация</a>
						<ul>
							<li><a href="/individual/kredity/poleznaya-informatsiya/mery-po-nedopushcheniyu-chrezmernoy-kreditnoy-nagruzki/">Меры по недопущению чрезмерной кредитной нагрузки</a></li>
							<li><a href="/individual/kredity/poleznaya-informatsiya/rekomendatsii-kreditopoluchatelyam/">Рекомендации кредитополучателям</a></li>
						</ul>
					</li>
				</ul>
			</li>
			<li>
				<a href="/individual/depozity-i-scheta/">Депозиты и счета</a>
				<ul>
					<li><a href="/individual/depozity-i-scheta/podbor-produkta/">Подбор продукта</a></li>
					<li><a href="/individual/depozity-i-scheta/depozity-online/">Депозиты ONLINE</a>
						<ul>
							<li><a href="/individual/depozity-i-scheta/depozity-online/sberegatelnyy-vkl-d/">Сберегательный вкл@д</a></li>
							<li><a href="/individual/depozity-i-scheta/depozity-online/vydatny-veb/">Выдатны-вэб</a></li>
							<li><a href="/individual/depozity-i-scheta/depozity-online/internet-vkl-d/">Интернет-вкл@д</a></li>
							<li><a href="/individual/depozity-i-scheta/depozity-online/depozit-do-vostrebovaniya-zruchny-anl-yn/">Депозит до востребования «Зручны анл@йн»</a></li>
						</ul>
					</li>
					<li><a href="/individual/depozity-i-scheta/depozity-otkryvaemye-v-ofisakh-banka/">Депозиты, открываемые в офисах банка</a>
						<ul>
							<li><a href="/individual/depozity-i-scheta/depozity-otkryvaemye-v-ofisakh-banka/prestizhnyy/">Престижный</a></li>
							<li><a href="/individual/depozity-i-scheta/depozity-otkryvaemye-v-ofisakh-banka/vydatny/">Выдатны</a></li>
							<li><a href="/individual/depozity-i-scheta/depozity-otkryvaemye-v-ofisakh-banka/universalnyy-bezotzyvnyy-s-fiksirovannoy-protsentnoy-stavkoy/">Универсальный безотзывный с фиксированной процентной ставкой</a></li>
							<li><a href="/individual/depozity-i-scheta/depozity-otkryvaemye-v-ofisakh-banka/universalnyy-s-plavayushchey-protsentnoy-stavkoy/">Универсальный с плавающей процентной ставкой</a></li>
							<li><a href="/individual/depozity-i-scheta/depozity-otkryvaemye-v-ofisakh-banka/srochnyy-otzyvnyy-depozit-zolotoe-vremya/">Срочный отзывный депозит "Золотое время"</a></li>
							<li><a href="/individual/depozity-i-scheta/depozity-otkryvaemye-v-ofisakh-banka/zruchny-depazit/">Зручны дэпазiт</a></li>
							<li><a href="/individual/depozity-i-scheta/depozity-otkryvaemye-v-ofisakh-banka/depozit-do-vostrebovaniya-v-rossiyskikh-rublyakh/">Депозит до востребования в российских рублях</a></li>
						</ul>
					</li>
					<li><a href="/individual/depozity-i-scheta/scheta/">Счета</a>
						<ul>
							<li><a href="/individual/depozity-i-scheta/scheta/tekushchie-raschetnye-scheta-online/">Текущие (расчетные) счета ONLINE</a></li>
							<li><a href="/individual/depozity-i-scheta/scheta/tekushchie-raschetnye-scheta/">Текущие (расчетные) счета</a></li>
							<li><a href="/individual/depozity-i-scheta/scheta/obezlichennye-metallicheskie-scheta/">Обезличенные металлические счета</a></li>
							<li><a href="/individual/depozity-i-scheta/scheta/paket-uslug-dlya-vkladchika/">Пакет услуг "Для вкладчика"</a></li>
						</ul>
					</li>
				</ul>
			</li>
			<li> <a href="/individual/internet-bank-i-kartochki/">Интернет-Банк и карточки</a></li>
			<li>
				<a href="/individual/perevody-i-platezhi/">Переводы и платежи</a>
				<ul>
					<li><a href="/individual/perevody-i-platezhi/groshy-skarakhody/">"Грошы-скараходы"</a></li>
					<li><a href="/individual/perevody-i-platezhi/groshy-skarakhody-s-ispolzovaniem-uslugi-internet-bank/">"Грошы-скараходы" с использованием услуги "Интернет-Банк"</a></li>
					<li><a href="/individual/perevody-i-platezhi/denezhnye-perevody-po-sisteme-blizko/">Денежные переводы по системе BLIZKO</a></li>
					<li><a href="/individual/perevody-i-platezhi/denezhnye-perevody-po-sisteme-blizko-s-ispolzovaniem-uslugi-internet-bank/">Денежные переводы по системе BLIZKO с использованием услуги «Интернет-Банк»</a></li>
					<li><a href="/individual/perevody-i-platezhi/perevody-v-inostrannoy-valyute/">Переводы в иностранной валюте</a></li>
					<li><a href="/individual/perevody-i-platezhi/denezhnye-perevody-po-sisteme-western-union/">Денежные переводы по системе Western Union</a></li>
					<li><a href="/individual/perevody-i-platezhi/perevod-svobodnyy-platezh-c-ispolzovaniem-uslugi-internet-bank/">Перевод "Свободный платеж" c использованием услуги "Интернет-Банк"</a></li>
					<li><a href="/individual/perevody-i-platezhi/platezhi/">Платежи</a></li>
				</ul>
			</li>
			<li>
				<a href="/individual/uslugi-i-obsluzhivanie/">Услуги и обслуживание</a>
				<ul>
					<li><a href="/individual/uslugi-i-obsluzhivanie/valyutno-obmennye-operatsii/">Валютно-обменные операции</a>
						<ul>
							<li><a href="/individual/uslugi-i-obsluzhivanie/valyutno-obmennye-operatsii/konverter-valyut/">Конвертер валют</a></li>
							<li><a href="/individual/uslugi-i-obsluzhivanie/valyutno-obmennye-operatsii/kursy-valyut/">Курсы валют</a></li>
							<li><a href="/individual/uslugi-i-obsluzhivanie/valyutno-obmennye-operatsii/grafik-dinamiki-izmeneniya-kursov/">График динамики изменения курсов</a></li>
							<li><a href="/individual/uslugi-i-obsluzhivanie/valyutno-obmennye-operatsii/kursy-po-operatsiyam-s-kartochkami/">Курсы по операциям с карточками</a></li>
							<li><a href="/individual/uslugi-i-obsluzhivanie/valyutno-obmennye-operatsii/kursy-pri-osushchestvlenii-beznalichnykh-valyutno-obmennykh-operatsiy/">Курсы при осуществлении безналичных валютно-обменных операций</a></li>
						</ul>
					</li>
					<li><a href="/individual/uslugi-i-obsluzhivanie/dragotsennye-metally-i-pamyatnye-monety/">Драгоценные металлы и памятные монеты</a>
						<ul>
							<li><a href="/individual/uslugi-i-obsluzhivanie/dragotsennye-metally-i-pamyatnye-monety/prodazha-zolota-serebra-platiny-pokupka-zolota/">Продажа золота, серебра, платины. Покупка золота</a></li>
							<li><a href="/individual/uslugi-i-obsluzhivanie/dragotsennye-metally-i-pamyatnye-monety/prodazha-pamyatnykh-monet/">Продажа памятных монет</a></li>
							<li><a href="/individual/uslugi-i-obsluzhivanie/dragotsennye-metally-i-pamyatnye-monety/tseny-na-dragotsennye-metally-v-vide-bankovskikh-slitkov/">Цены на драгоценные металлы в виде банковских слитков</a></li>
						</ul>
					</li>
					<li><a href="/individual/uslugi-i-obsluzhivanie/operatsii-s-tsennymi-bumagami/">Операции с ценными бумагами</a>
						<ul>
							<li><a href="/individual/uslugi-i-obsluzhivanie/operatsii-s-tsennymi-bumagami/brokerskoe-obsluzhivanie/">Брокерское обслуживание</a></li>
							<li><a href="/individual/uslugi-i-obsluzhivanie/operatsii-s-tsennymi-bumagami/depozitarnye-uslugi/">Депозитарные услуги</a></li>
							<li><a href="/individual/uslugi-i-obsluzhivanie/operatsii-s-tsennymi-bumagami/priobretenie-obligatsiy-ministerstva-finansov-respubliki-belarus/">Приобретение облигаций Министерства финансов Республики Беларусь</a></li>
							<li><a href="/individual/uslugi-i-obsluzhivanie/operatsii-s-tsennymi-bumagami/doveritelnoe-upravlenie-denezhnymi-sredstvami-klientov/">Доверительное управление денежными средствами клиентов</a></li>
							<li><a href="/individual/uslugi-i-obsluzhivanie/operatsii-s-tsennymi-bumagami/lokalnye-normativnye-akty-banka/">Локальные нормативные акты банка</a></li>
						</ul>
					</li>
					<li><a href="/individual/uslugi-i-obsluzhivanie/pamyatnye-banknoty/">Памятные банкноты</a></li>
					<li><a href="/individual/uslugi-i-obsluzhivanie/bankovskoe-khranenie/">Банковское хранение</a></li>
					<li><a href="/individual/uslugi-i-obsluzhivanie/personalnoe-obsluzhivanie/">Персональное обслуживание</a></li>
				</ul>
			</li>
			<li> <a href="/individual/vip-obsluzhivanie/">VIP-обслуживание</a></li>
			<li> <a href="/individual/spetsialnye-predlozheniya-i-aktsii/">Специальные предложения и акции</a></li>
			<li>
				<a href="/individual/poleznaya-informatsiya/">Полезная информация</a>
				<ul>
					<li><a href="/individual/poleznaya-informatsiya/perekhod-na-iban-2017/">Переход на IBAN 2017</a></li>
					<li><a href="/individual/poleznaya-informatsiya/dokumenty-i-tarify/">Документы и тарифы</a></li>
					<li><a href="/individual/poleznaya-informatsiya/vremya-nachala-i-okonchaniya-bankovskogo-dnya/">Время начала и окончания банковского дня</a></li>
					<li><a href="/individual/poleznaya-informatsiya/ofisy-operatsii-v-subbotu/">Офисы, операции в субботу</a></li>
					<li><a href="/individual/poleznaya-informatsiya/finansovaya-gramotnost/">Финансовая грамотность</a></li>
					<li><a href="/individual/poleznaya-informatsiya/polezno-znat/">Полезно знать</a></li>
				</ul>
			</li>
		</ul>
	</nav>

</aside>