<aside class="l-aside">

	<nav class="nav js-nav">
		<ul class="nav-list">
			<li>
				<a href="/individual/kredity/">Кредиты</a>
				<ul>
					<li><a href="/individual/kredity/podbor-produkta/">Подбор продукта</a></li>
					<li class="is-open"><a href="/individual/kredity/kredity-online/" class="is-active">Кредиты ONLINE</a>
					<ul>
						<li>
							<a href="/individual/depozity-i-scheta/depozity-online/sberegatelnyy-vkl-d/">Сберегательный вкл@д</a>
							<div class="labels-list">
								<span class="label-new">new</span>
								<span class="label-online">online</span>
							</div>
						</li>
						<li>
							<a href="/individual/depozity-i-scheta/depozity-online/vydatny-veb/">Выдатны-вэб</a>
							<div class="labels-list">
								<span class="label-online">online</span>
								<span class="label-hit">Хит!</span>
							</div>
						</li>
						<li>
							<a href="/individual/depozity-i-scheta/depozity-online/internet-vkl-d/">Интернет-вкл@д</a>
							<div class="labels-list">
								<span class="label-online">online</span>
							</div>
						</li>
						<li>
							<a href="/individual/depozity-i-scheta/depozity-online/depozit-do-vostrebovaniya-zruchny-anl-yn/">Вклад до востребования «Зручны анл@йн»</a>
							<div class="labels-list">
								<span class="label-online">online</span>
							</div>
						</li>
					</ul>
					</li>
					<li><a href="/individual/kredity/potrebitelskie-nuzhdy/">Потребительские нужды</a>
					</li>
					<li><a href="/individual/kredity/kreditnye-kartochki/">Кредитные карточки</a>
					</li>
					<li><a href="/individual/kredity/overdraftnoe-kreditovanie/">Овердрафтное кредитование</a>
					</li>
					<li><a href="/individual/kredity/refinansirovanie-kreditov/">Рефинансирование кредитов</a>
					</li>
					<li><a href="/individual/kredity/avtokreditovanie/">Автокредитование</a>
					</li>
					<li><a href="/individual/kredity/finansirovanie-nedvizhimosti/">Финансирование недвижимости</a>
					</li>
					<li><a href="/individual/kredity/poleznaya-informatsiya/">Полезная информация</a>
					</li>
				</ul>
			</li>
			<li>
				<a href="/individual/depozity-i-scheta/">Депозиты и счета</a>
			</li>
			<li> <a href="/individual/internet-bank-i-kartochki/">Интернет-Банк и карточки</a></li>
			<li>
				<a href="/individual/perevody-i-platezhi/">Переводы и платежи</a>
			</li>
			<li>
				<a href="/individual/uslugi-i-obsluzhivanie/">Услуги и обслуживание</a>
			</li>
			<li> <a href="/individual/vip-obsluzhivanie/">VIP-обслуживание</a></li>
			<li> <a href="/individual/spetsialnye-predlozheniya-i-aktsii/">Специальные предложения и акции</a></li>
			<li>
				<a href="/individual/poleznaya-informatsiya/">Полезная информация</a>
			</li>
		</ul>
	</nav>

</aside>