<div class="box box-shadow card card-rates">
	<div class="card-node">
		<div class="card-rates-header">
			<div  class="card-rates-title">Курсы валют</div>
			<span class="card-rates-date">на 24.07.2017</span>
		</div>
		<p style="padding: 0 0 2rem">Центральный аппарат {select?}</p>

		<table class="rates-table">
			<tr>
				<th>Валюта</th>
				<th>Покупка</th>
				<th>Продажа</th>
			</tr>
			<tr>
				<td>Доллар США</td>
				<td>2.0000</td>
				<td>2.0150</td>
			</tr>
			<tr>
				<td>Евро</td>
				<td>2.3400</td>
				<td>2.4450</td>
			</tr>
			<tr>
				<td>100 российских рублей</td>
				<td>3.4300</td>
				<td>3.4450</td>
			</tr>
		</table>
	</div>
	<div class="card-node card-rates-footer">
		<a href="#" class="rarrow-link"><span>Все курсы</span></a>
		<a href="#" class="rarrow-link"><span>Конвертер валют</span></a>
	</div>
</div>