<div class="box box-shadow card card-offices">
	<div class="card-node">
		<div class="card-offices-header">
			<div  class="card-offices-title">Офисы банка</div>
		</div>

		<div class="flex-row flex-row-unwrap card-offices-list">
			<div class="col-xs-12 col-sm-6">
				<a href="#" class="ico-link">
					<i class="c-ico ico-40 ico--orange">
						<svg>
							<use xlink:href="i/icons.svg#icon_1-13"></use>
						</svg>
					</i>
					<span><span>Офисы</span></span>
				</a>
			</div>
			<div class="col-xs-12 col-sm-6">
				<a href="#" class="ico-link">
					<i class="c-ico ico-40 ico--orange">
						<svg>
							<use xlink:href="i/icons.svg#icon_1-16"></use>
						</svg>
					</i>
					<span><span>Офисы и банко<wbr>маты</span></span>
				</a>
			</div>
			<div class="col-xs-12 col-sm-6">
				<a href="#" class="ico-link">
					<i class="c-ico ico-40 ico--orange">
						<svg>
							<use xlink:href="i/icons.svg#icon_1-14"></use>
						</svg>
					</i>
					<span><span>Банкоматы СБС</span></span>
				</a>
			</div>
			<div class="col-xs-12 col-sm-6">
				<a href="#" class="ico-link">
					<i class="c-ico ico-40 ico--orange">
						<svg>
							<use xlink:href="i/icons.svg#icon_1-17"></use>
						</svg>
					</i>
					<span><span>Автома<wbr>ти<wbr>чес<wbr>кие сейфы</span></span>
				</a>
			</div>
			<div class="col-xs-12 col-sm-6">
				<a href="#" class="ico-link">
					<i class="c-ico ico-40 ico--orange">
						<svg>
							<use xlink:href="i/icons.svg#icon_1-15"></use>
						</svg>
					</i>
					<span><span>Инфокиоски</span></span>
				</a>
			</div>
			<div class="col-xs-12 col-sm-6">
				<a href="#" class="ico-link">
					<i class="c-ico ico-40 ico--orange">
						<svg>
							<use xlink:href="i/icons.svg#icon_1-18"></use>
						</svg>
					</i>
					<span><span>Офисы, операции в субботу</span></span>
				</a>
			</div>
		</div>

	</div>
	<div class="card-node card-offices-footer">
		<a href="#" class="rarrow-link"><span>Смотреть все</span></a>
	</div>
</div>