<div class="maxwrap">
	<section class="banner-visual box-shadow js-appear">

		<picture class="banner-bg">
			<source srcset="userimg/banner-1-bg.webp" type="image/webp">
			<img srcset="userimg/banner-1-bg.jpg" alt="">
		</picture>

		<picture class="banner-node banner-node-1">
			<source srcset="userimg/banner-1-node.webp" type="image/webp">
			<img srcset="userimg/banner-1-node.png" alt="">
		</picture>

		<div class="banner-in">
			<div class="banner-text-node">
				<header>Крэдыт «Асаблівы»</header>
				<p>Выбор субъектом хозяйствования банка для ведения текущих (расчетных) счетов&nbsp;— одна из важнейших составляющих успешного ведения бизнеса.</p>
			</div>
			<div class="banner-text-node">
				<p><a href="#" class="button">Узнать больше</a></p>
			</div>

		</div>
	</section>
</div>