<div class="converter js-converter">
	<div class="converter-header">
		Конвертер валют
	</div>
	<div class="converter-date">
		Курс валют на 11.01.2017
	</div>

	<div class="converter-row">
		<div class="coverter-select">
			<select data-select-from>
				<option value="usd" selected>USD</option>
				<option value="eur">EUR</option>
				<option value="byn">BYN</option>
			</select>
		</div>
		<div class="coverter-input">
			<div class="input">
				<input type="text" class="js-input js-input-from"/>
				<svg class="input-clear ico-close" viewBox="0 0 32 32">
					<use xlink:href="#ico-close"></use>
				</svg>
			</div>
		</div>
	</div>

	<div class="converter-row">
		<div class="coverter-select">
			<select data-select-to>
				<option value="usd">USD</option>
				<option value="eur" selected>EUR</option>
				<option value="byn">BYN</option>
			</select>
		</div>
		<div class="coverter-input">
			<div class="input">
				<input type="text" class="js-input js-input-to"/>
				<svg class="input-clear ico-close" viewBox="0 0 32 32">
					<use xlink:href="#ico-close"></use>
				</svg>
			</div>
		</div>
	</div>
</div>