<div class="box-letter filter offices-filter">

	{Офисы}

	<div class="flex-row between-xs">
		<div class="col-xs-12 col-sm-6 filter-col filter-location">
			<select data-select>
				<option value="226" selected="selected">Минск</option>
				<option value="226">Центральный аппарат</option>
				<option value="14000">Центр банковских услуг 1 (центральный аппарат)</option>
				<option value="13002">Обменный пункт №12</option>
				<option value="56051">Минское отделение 2</option>
				<option value="81000">Расчетно-кассовый центр «Луч» </option>
				<option value="56910">ЦРБ №560/1</option>
				<option value="62000">Минское отделение 3</option>
				<option value="94051">Расчетно-кассовый центр «Колядичи» (Бабушкина, 37)</option>
				<option value="94052">Расчетно-кассовый центр «Колядичи» (Бабушкина, 39)</option>
			</select>
		</div>

		<div class="col-xs-12 col-sm-6 filter-col end-sm filter-toggle-view">
			<div class="js-places-tabs">
				<div class="tabs filter-tabs">
					<input type="hidden">
					<a href="#offices_list">Списком</a>
					<a href="#offices_map">На карте</a>
				</div>
			</div>
		</div>
	</div>

	<div class="flex-row">
		<div class="filter-col col-xs filter-nearest">
			<label><input type="checkbox" id="location-switch" disabled><span>Показать ближайшие</span></label>
		</div>
		<div class="filter-col col-xs filter-available-now">
			<label><input type="checkbox"><span>Работает сейчас</span></label>
		</div>
		<div class="filter-col col-xs filter-available-now">
			<label><input type="checkbox"><span>Работает в субботу</span></label>
		</div>
		<div class="filter-col col-xs filter-available-now">
			<label><input type="checkbox"><span>Автоматические сейфы</span></label>
		</div>
	</div>

	<div class="box-letter-in bank-service" style="display: none;">

		<div class="bank-service-header">
			<p class="input"><input type="text" placeholder="Поиск по услугам" name="" id=""></p>
		</div>

		<div class="bank-service-list">
			<p><label><input type="checkbox"><span>VIP-обслуживание</span></label></p>
			<p><label><input type="checkbox"><span>Банковские и иные счета</span></label></p>
			<p><label><input type="checkbox"><span>Банковские карточки. Дебетовые карточки Maestro и Visa Electron к счету в бел. рублях (зарплатные)</span></label></p>
			<p><label><input type="checkbox"><span>Банковские карточки. Дебетовые карточки Maestro, Visa Electron, Visa Gold, Visa Platinum к счету в бел. рублях, долларах США, евро</span></label></p>
			<p><label><input type="checkbox"><span>Банковские карточки. Дебетовые карточки к счетам в белорусских рублях, долларах США, евро</span></label></p>
			<p><label><input type="checkbox"><span>Банковские карточки. Международные дебетовые карточки Maestro и Visa Electron к счетам в долларах США и евро</span></label></p>
			<p><label><input type="checkbox"><span>Банковские карточки. Международные дебетовые карточки Maestro, Visa Electron, MasterCard и Visa Classic в бел. рублях</span></label></p>
			<p><label><input type="checkbox"><span>Банковские карточки. Международные дебетовые карточки MasterCard и Visa Classic к счетам в долларах США и евро</span></label></p>
			<p><label><input type="checkbox"><span>Банковские карточки. Международные дебетовые карточки Visa Platinum, Visa Gold к счетам в долларах США, евро и белорусских рублях</span></label></p>
			<p><label><input type="checkbox"><span>Банковские платежные карточки. Международные дебетовые карточки Maestro, Visa Electron, MasterCard Standart, Visa Classic, Visa Gold и Visa Platinum к счету в бел. рублях</span></label></p>
			<p><label><input type="checkbox"><span>Банковские платежные карточки. Международные дебетовые карточки MasterCard Standart, Visa Classic, Maestro, Visa Electron, Visa Gold и Visa Platinum к счету в долларах США и евро</span></label></p>
		</div>

	</div>

</div>