<div class="box-letter filter bankomat-filter">

	{Банкоматы}

	<div class="flex-row between-xs">
		<div class="col-xs-12 col-sm-4 filter-col filter-location">
			<select data-select>
				<option value="226" selected="selected">Минск</option>
				<option value="226">Центральный аппарат</option>
				<option value="14000">Центр банковских услуг 1 (центральный аппарат)</option>
				<option value="13002">Обменный пункт №12</option>
				<option value="56051">Минское отделение 2</option>
				<option value="81000">Расчетно-кассовый центр «Луч» </option>
				<option value="56910">ЦРБ №560/1</option>
				<option value="62000">Минское отделение 3</option>
				<option value="94051">Расчетно-кассовый центр «Колядичи» (Бабушкина, 37)</option>
				<option value="94052">Расчетно-кассовый центр «Колядичи» (Бабушкина, 39)</option>
			</select>
		</div>

		<div class="filter-col col-xs-12 col-sm-4 filter-currency">
			<div class="b-toggler b-toggler-small">
				<div class="toggler-action">
					<input  id="currency-all" type="radio" name="currency" value="all" checked>
					<label for="currency-all">Все</label>

					<input  id="currency-byn" type="radio" name="currency" value="byn">
					<label for="currency-byn">BYN</label>

					<input  id="currency-usd" type="radio" name="currency" value="usd">
					<label for="currency-usd">USD</label>

					<input  id="currency-eur" type="radio" name="currency" value="eur">
					<label for="currency-eur">EUR</label>
				</div>
			</div>
		</div>

		<div class="col-xs-12 col-sm-4 filter-col end-sm filter-toggle-view">
			<div class="js-tabs">
				<div class="tabs filter-tabs">
					<input type="hidden">
					<a href="">Списком</a>
					<a href="">На карте</a>
				</div>
			</div>
		</div>
	</div>

</div>