<footer class="l-footer">

	<div class="footer-row flex-row maxwrap">
		<div class="col-xs">

			<div class="f-search">
				<form action="">
					<div class="submit">
						<input type="submit" value="">
						<svg class="ico-search" viewBox="0 0 50 50">
							<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ico-search"></use>
						</svg>
					</div>
					<div class="search"><input type="search" name="" id="" placeholder="Поиск по сайту"></div>
				</form>
			</div>

			<p>220004, Республика  Беларусь, г.Минск, пр-т Победителей, 29</p>
		</div>
		<div class="col-xs">

			<div class="f-phone">
				<i class="c-ico ico-50">
					<svg viewBox="0 0 26 15"><use xlink:href="#ico-check"></use></svg>
				</i>
				<span>
					<a href="tel:+375172156115">+375 (17) 215-61-15</a>
					Контакт-центр
				</span>
			</div>

			<div class="f-phone">
				<i class="c-ico ico-50">
					<svg viewBox="0 0 26 15"><use xlink:href="#ico-check"></use></svg>
				</i>
				<span>
					<a href="tel:205">205</a>
					для абонентов МТС, Life:), Velcom Круглосуточно
				</span>
			</div>

			<div class="f-phone">
				<i class="c-ico ico-50">
					<svg viewBox="0 0 26 15"><use xlink:href="#ico-check"></use></svg>
				</i>
				<span>
					<a href="tel:+375172156115">+375 (17) 215-61-15</a>
					Круглосуточная поддержка держателей платежных карточек банка
				</span>
			</div>

			<div class="f-phone">
				<i class="c-ico ico-50">
					<svg viewBox="0 0 26 15"><use xlink:href="#ico-check"></use></svg>
				</i>
				<span>
					<a href="tel:+375172156115">+375 (17) 215-61-15</a>
					Линия доверия
				</span>
			</div>

		</div>
		<div class="col-xs">

			<div class="socials">
				<div class="socials-header">Мы в соцсетях</div>
				<ul>
					<li><a href="#">fb</a></li>
					<li><a href="#">vk</a></li>
					<li><a href="#">ok</a></li>
				</ul>
			</div>

			<div class="f-logos">
				<a href="#">
					<img src="userimg/logo-1.png" alt="">
				</a>
				<a href="#">
					<img src="userimg/logo-2.png" alt="">
				</a>
			</div>

		</div>
	</div>

	<div class="b-copyright flex-row">
		<div class="col-xs-12 col-sm">
			ОАО «Банк БелВЭБ» © 2010-2017
		</div>

		<div class="col-xs-12 col-sm end-sm">
			<a href="http://astronim.com" class="developer" target="_blank">
				Разработка сайта — <img src="i/developer.png" height="21" width="149" alt="">
			</a>
		</div>
	</div>

</footer>