<div class="header-row">

	<div class="mobile-header">

		<div class="menu-button js-menu-open">
			<div class="ico-menu">
				<span class="line"></span>
				<span class="line"></span>
				<span class="line"></span>
			</div>
		</div>

		<a href="#" class="mobile-logo">
			<img src="i/logo.png" alt="">
		</a>

	</div>

	<header class="l-header flex-row">

		<div class="header-aside">

			<a href="#" class="logo">
				<img src="i/logo.png" alt="">
			</a>

			<a href="#" class="nav-toggle">
				<span>Все услуги</span>
				<span class="nav-toggle-ctrl c-ico ico-30">
					<svg class="ico-arrow ico-down" viewBox="0 0 50 50">
						<use xlink:href="#ico-down"></use>
					</svg>
				</span>
			</a>

		</div>

		<div class="header-in">

			<div class="header-content">

				<div class="h-topline maxwrap">
					<div class="topline-nav">
						<ul class="topline-menu">
							<li><a href="#" class="t-arrow"><span>Офисы и Банкоматы</span></a></li>
							<li><a href="#" class="t-arrow"><span>Конвертер валют</span></a></li>
							<li><a href="#" class="t-arrow"><span>Контакт-центр</span></a></li>
						</ul>
					</div>
					<div class="topline-aside">
						<div class="topline-iblogin">
							<a href="#" class="link-iblogin">
								<svg class="ico-lock" viewBox="0 0 32 32">
									<use xlink:href="#ico-lock"></use>
								</svg>
								<span>Интернет-банк</span>
							</a>
						</div>
						<div class="topline-search">
							<a href="#">
								<svg class="ico-search" viewBox="0 0 50 50">
									<use xlink:href="#ico-search"></use>
								</svg>
							</a>
						</div>
						<div class="topline-lang">
							<a href="#">Eng</a>
						</div>
					</div>
				</div>

				<div class="h-currency">

					<div class="maxwrap">
						<div class="currency-title">
							<a href="#" class="link--white">Курсы валют</a>
							на 24.07.2017
						</div>

						<div class="currency-toggle">
							<div class="c-ico ico-30">
								<svg class="ico-arrow ico-down" viewBox="0 0 50 50">
									<use xlink:href="#ico-down"></use>
								</svg>
							</div>
						</div>

						<div class="currency-list">
							<div class="currency-node" data-type="1 usd">
								<span>1.9550/1.9600</span>
							</div>
							<div class="currency-node" data-type="1 eur">
								<span>1.9550/1.9600</span>
							</div>
							<div class="currency-node" data-type="100 rub">
								<span>1.9550/1.9600</span>
							</div>
							<div class="currency-node" data-type="10 cny">
								<span>1.9550/1.9600</span>
							</div>
						</div>
					</div>

				</div>

				<div class="h-topmenu-wrap" 1style="display: none !important;">
					<ul class="h-topmenu" id="topmenu">
						<li><a href="./" class="topmenu-link">Частным клиентам</a></li>
						<li><a href="./index-legal.html" class="topmenu-link">Малому бизнесу</a></li>
						<li><a href="./index-legal.html" class="topmenu-link">Среднему и крупному бизнесу</a></li>
						<li><a href="#" class="topmenu-link">Финансовым институтам</a></li>
						<li><a href="#" class="topmenu-link">Интеграционный бизнес</a></li>
						<li><a href="#" class="topmenu-link">О банке</a></li>
					</ul>

					<div class="sitemap" id="sitemap">

						<div class="sitemap-tab">
							<div class="sitemap-header">
								<div class="sitemap-note">
									Годовая выручка до 1 млн долл.США в эквиваленте и сумма активных операций в Банке БелВЭБ до 100 000 долл.США в эквиваленте
								</div>
							</div>
							<div class="sitemap-main">
								<div class="flex-row">
									<div class="col-xs-12 col-sm-6 col-md-4">
										<section>
											<header><a href="#">Кредитование</a></header>
											<ul>
												<li><a href="#">Потребительские кредиты</a></li>
												<li><a href="#">Кредитные карточки</a></li>
												<li><a href="#">Овердрафт</a></li>
												<li><a href="#">Рефинансирование</a></li>
												<li><a href="#">Финансирование недвижимости</a></li>
											</ul>
										</section>
									</div>

									<div class="col-xs-12 col-sm-6 col-md-4">
										<section>
											<header><a href="#">Вклады и счета</a></header>
											<ul>
												<li><a href="#">Потребительские кредиты</a></li>
												<li><a href="#">Кредитные карточки</a></li>
												<li><a href="#">Овердрафт</a></li>
												<li><a href="#">Рефинансирование</a></li>
												<li><a href="#">Финансирование недвижимости</a></li>
											</ul>
										</section>
									</div>

									<div class="col-xs-12 col-sm-6 col-md-4">
										<section>
											<header><a href="#">Банковские платежные карточки</a></header>
										</section>
									</div>

									<div class="col-xs-12 col-sm-6 col-md-4">
										<section>
											<header><a href="#">Онлайн-продукты</a></header>
											<ul>
												<li><a href="#">Потребительские кредиты</a></li>
												<li><a href="#">Кредитные карточки</a></li>
												<li><a href="#">Овердрафт</a></li>
												<li><a href="#">Рефинансирование</a></li>
												<li><a href="#">Финансирование недвижимости</a></li>
											</ul>
										</section>
									</div>

									<div class="col-xs-12 col-sm-6 col-md-4">
										<section>
											<header><a href="#">Услуги</a></header>
											<ul>
												<li><a href="#">Потребительские кредиты</a></li>
												<li><a href="#">Кредитные карточки</a></li>
												<li><a href="#">Овердрафт</a></li>
												<li><a href="#">Рефинансирование</a></li>
												<li><a href="#">Финансирование недвижимости</a></li>
											</ul>
										</section>
									</div>

									<div class="col-xs-12 col-sm-6 col-md-4">
										<section>
											<header><a href="#">VIP-обслуживание персональное обслуживание</a></header>
										</section>
									</div>

									<div class="col-xs-12 col-sm-6 col-md-4">
										<section>
											<header><a href="#">Справочная</a></header>
											<ul>
												<li><a href="#">Потребительские кредиты</a></li>
												<li><a href="#">Кредитные карточки</a></li>
												<li><a href="#">Овердрафт</a></li>
												<li><a href="#">Рефинансирование</a></li>
												<li><a href="#">Финансирование недвижимости</a></li>
											</ul>
										</section>
									</div>

									<div class="col-xs-12 col-sm-6 col-md-4">
										<section class="sitemap-banner">
											<picture>
												<img srcset="userimg/promo-2.jpg" alt="">
											</picture>
										</section>
									</div>
								</div>
							</div>
						</div>

						<div class="sitemap-tab">
							<div class="sitemap-header">
								<div class="sitemap-note">
									Малому бизнесу
								</div>
							</div>
							<div class="sitemap-main">
								<div class="flex-row">
									<div class="col-xs-12 col-sm-6 col-md-4">
										<section>
											<header><a href="#">Кредитование</a></header>
											<ul>
												<li><a href="#">Овердрафт</a></li>
												<li><a href="#">Рефинансирование</a></li>
												<li><a href="#">Финансирование недвижимости</a></li>
											</ul>
										</section>
									</div>
								</div>
							</div>
						</div>

						<div class="sitemap-tab">
							<div class="sitemap-header">
								<div class="sitemap-note">
									Среднему и крупному бизнесу
								</div>
							</div>
							<div class="sitemap-main">
								<div class="flex-row">
									<div class="col-xs-12 col-sm-6 col-md-4">
										<section>
											<header><a href="#">Кредитование</a></header>
											<ul>
												<li><a href="#">Кредитные карточки</a></li>
												<li><a href="#">Финансирование недвижимости</a></li>
											</ul>
										</section>
									</div>
								</div>
							</div>
						</div>

						<div class="sitemap-tab">
							<div class="sitemap-header">
								<div class="sitemap-note">
									Финансовым институтам
								</div>
							</div>
							<div class="sitemap-main">
								<div class="flex-row">
									<div class="col-xs-12 col-sm-6 col-md-4">
										<section>
											<header><a href="#">Кредитование</a></header>
											<ul>
												<li><a href="#">Потребительские кредиты</a></li>
												<li><a href="#">Овердрафт</a></li>
											</ul>
										</section>
									</div>
								</div>
							</div>
						</div>

						<div class="sitemap-tab">
							<div class="sitemap-header">
								<div class="sitemap-note">
									Интеграфионный бизнес
								</div>
							</div>
							<div class="sitemap-main">
								<div class="flex-row">
									<div class="col-xs-12 col-sm-6 col-md-4">
										<section>
											<header><a href="#">Кредитование</a></header>
											<ul>
												<li><a href="#">Потребительские кредиты</a></li>
												<li><a href="#">Овердрафт</a></li>
											</ul>
										</section>
									</div>
								</div>
							</div>
						</div>

						<div class="sitemap-tab">
							<div class="sitemap-header">
								<div class="sitemap-note">
									О банке
								</div>
							</div>
							<div class="sitemap-main">
								<div class="flex-row">
									<div class="col-xs-12 col-sm-6 col-md-4">
										<section>
											<header><a href="#">Кредитование</a></header>
											<ul>
												<li><a href="#">Потребительские кредиты</a></li>
												<li><a href="#">Овердрафт</a></li>
											</ul>
										</section>
									</div>
								</div>
							</div>
						</div>

					</div>

				</div>

			</div>

		</div>

	</header>

</div>