<div class="l-news-row" 1style="display: none!important;">
	<div class="maxwrap">
		<div class="news-col news-col-lead" 1style="display: none!important;">
			<div class="box box-shadow card">
				<div class="card-node card-title">
					Новости банка
				</div>
				<div class="card-node">
					<a href="#" class="readmore color--white">
						<span class="c-ico ico-60">
							<svg class="arrow-right" viewBox="0 0 96 96">
								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-right"></use>
							</svg>
						</span>
						<span>Архив новостей</span>
					</a>
				</div>
			</div>
		</div>

		<div class="news-col">
			<div class="box box-shadow card card-news-item">
				<div class="card-node">
					<a href="#">
						<div class="card-news-img">
							<img src="https://picsum.photos/400/280/?random" alt="">
						</div>
						<div class="card-news-title">
							Стать клиентом Банка БелВЭБ теперь можно без посещения офиса!
						</div>
					</a>
				</div>
				<div class="card-node card-news-footer">
					<div class="hash-list">
						<a href="#кредитование" class="hash-link">#кредитование</a>
						<a href="#кредитование" class="hash-link">#воттак</a>
					</div>
				</div>
			</div>
		</div>

		<div class="news-col">
			<div class="box box-shadow card card-news-item">
				<div class="card-node">
					<a href="#">
						<div class="card-news-title">
							Изменяются Правила онлайн- кредитования с применением системы «Интернет-Банк»
						</div>
					</a>
					<p>С 4 октября 2017 г. вступают в силу новые Правила онлайн-кредитования с применением системы «Интернет-Банк».</p>
				</div>
				<div class="card-node card-news-footer">
					<div class="hash-list">
						<a href="#кредитование" class="hash-link">#премиальное обслуживание</a>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>