<div class="promo-slider js-promo-slider">
	<div class="swiper-container swiper-is-loading">
		<div class="maxwrap swiper-preloader-wrap">
			<div class="swiper-preloader"></div>
		</div>
		<div class="swiper-wrapper">
			<div class="swiper-slide box-shadow promo-slide">
				<div class="promo-text">
					<div class="promo-node">
						<header class="heading-level-2">
							Перевозка и инкассация наличных денежных средств
						</header>
						<p>Выбор субъектом хозяйствования банка для ведения текущих (расчетных) счетов — одна из важнейших составляющих успешного ведения бизнеса.</p>
					</div>
					<div class="promo-node">
						<a href="#" class="button">Узнать больше</a>
					</div>
				</div>
				<div class="promo-img"><img src="userimg/promo-1.jpg" alt=""></div>
			</div>
			<div class="swiper-slide box-shadow promo-slide">
				<div class="promo-text">
					<header class="heading-level-2">
						Перевозка и инкассация наличных денежных средств наличныхвмывм  денежных
					</header>
					<p>Выбор субъектом хозяйствования банка для ведения текущих (расчетных) счетов — одна из важнейших составляющих успешного ведения бизнеса.</p>
				</div>
				<div class="promo-img"><img src="userimg/promo-2.jpg" alt=""></div>
			</div>
			<div class="swiper-slide box-shadow promo-slide">
				<div class="promo-text">
					<div class="promo-node">
						<header class="heading-level-2">
							Перевозка и инкассация наличных денежных средств
						</header>
						<p>Выбор субъектом хозяйствования банка для ведения текущих (расчетных) счетов — одна из важнейших составляющих успешного ведения бизнеса.</p>
					</div>
					<div class="promo-node">
						<a href="#" class="button">Узнать больше</a>
					</div>
				</div>
				<div class="promo-img"><img src="userimg/promo-1.jpg" alt=""></div>
			</div>
			<div class="swiper-slide box-shadow promo-slide">
				<div class="promo-text">
					<header class="heading-level-2">
						Перевозка и инкассация наличных денежных средств наличныхвмывм  денежных
					</header>
					<p>Выбор субъектом хозяйствования банка для ведения текущих (расчетных) счетов — одна из важнейших составляющих успешного ведения бизнеса.</p>
				</div>
				<div class="promo-img"><img src="userimg/promo-2.jpg" alt=""></div>
			</div>
			<div class="swiper-slide box-shadow promo-slide">
				<div class="promo-text">
					<div class="promo-node">
						<header class="heading-level-2">
							Перевозка и инкассация наличных денежных средств
						</header>
						<p>Выбор субъектом хозяйствования банка для ведения текущих (расчетных) счетов — одна из важнейших составляющих успешного ведения бизнеса.</p>
					</div>
					<div class="promo-node">
						<a href="#" class="button">Узнать больше</a>
					</div>
				</div>
				<div class="promo-img"><img src="userimg/promo-1.jpg" alt=""></div>
			</div>
			<div class="swiper-slide box-shadow promo-slide">
				<div class="promo-text">
					<header class="heading-level-2">
						Перевозка и инкассация наличных денежных средств наличныхвмывм  денежных
					</header>
					<p>Выбор субъектом хозяйствования банка для ведения текущих (расчетных) счетов — одна из важнейших составляющих успешного ведения бизнеса.</p>
				</div>
				<div class="promo-img"><img src="userimg/promo-2.jpg" alt=""></div>
			</div>
			<div class="swiper-slide box-shadow promo-slide">
				<div class="promo-text">
					<div class="promo-node">
						<header class="heading-level-2">
							Перевозка и инкассация наличных денежных средств
						</header>
						<p>Выбор субъектом хозяйствования банка для ведения текущих (расчетных) счетов — одна из важнейших составляющих успешного ведения бизнеса.</p>
					</div>
					<div class="promo-node">
						<a href="#" class="button">Узнать больше</a>
					</div>
				</div>
				<div class="promo-img"><img src="userimg/promo-1.jpg" alt=""></div>
			</div>
			<div class="swiper-slide box-shadow promo-slide">
				<div class="promo-text">
					<header class="heading-level-2">
						Перевозка и инкассация наличных денежных средств наличныхвмывм  денежных
					</header>
					<p>Выбор субъектом хозяйствования банка для ведения текущих (расчетных) счетов — одна из важнейших составляющих успешного ведения бизнеса.</p>
				</div>
				<div class="promo-img"><img src="userimg/promo-2.jpg" alt=""></div>
			</div>
			<div class="swiper-slide box-shadow promo-slide">
				<div class="promo-text">
					<div class="promo-node">
						<header class="heading-level-2">
							Перевозка и инкассация наличных денежных средств
						</header>
						<p>Выбор субъектом хозяйствования банка для ведения текущих (расчетных) счетов — одна из важнейших составляющих успешного ведения бизнеса.</p>
					</div>
					<div class="promo-node">
						<a href="#" class="button">Узнать больше</a>
					</div>
				</div>
				<div class="promo-img"><img src="userimg/promo-1.jpg" alt=""></div>
			</div>
			<div class="swiper-slide box-shadow promo-slide">
				<div class="promo-text">
					<header class="heading-level-2">
						Перевозка и инкассация наличных денежных средств наличныхвмывм  денежных
					</header>
					<p>Выбор субъектом хозяйствования банка для ведения текущих (расчетных) счетов — одна из важнейших составляющих успешного ведения бизнеса.</p>
				</div>
				<div class="promo-img"><img src="userimg/promo-2.jpg" alt=""></div>
			</div>
		</div>
		<div class="maxwrap swiper-pagination" id="swiper_sizer"></div>
	</div>
</div>