<script src="js/lib/jquery-2.2.4.min.js"></script>
<script src="js/lib/jquery.debouncedresize.js"></script>
<script src="js/lib/jquery.tmpl.min.js"></script>
<script src="js/lib/flexibility.js"></script>
<script src="js/lib/modernizr-custom.js"></script>
<script src="js/lib/jquery.easing.1.3.js"></script>
<script src="js/lib/jquery.appear.js"></script>
<script src="js/lib/jquery.unveil.js"></script>
<script src="js/lib/jquery.stickybits.min.js"></script>
<script src="js/lib/jquery.sticky-kit.min.js"></script>
<script src="js/lib/jquery.scrollTo.min.js"></script>
<script src="js/lib/jquery.fitvids.js"></script>
<script src="js/lib/ofi.min.js"></script>
<script src="js/lib/object-fit-videos.js"></script>
<script src="js/lib/js.cookie.js"></script>
<script src="js/lib/readmore.min.js"></script>

<!-- choices -->
<script src="js/lib/choices/scripts/dist/choices.min.js"></script>

<!-- swiper -->
<script src="js/lib/swiper/js/swiper.js"></script>

<!-- slick -->
<script src="js/lib/slick/slick.min.js"></script>

<!-- lightgallery -->
<script src="js/lib/lightgallery/js/lightgallery-all.min.js"></script>

<!-- simplelightbox -->
<script src="js/lib/simplelightbox/simple-lightbox.min.js"></script>

<!-- flexmenu -->
<script src="js/lib/nav/flexmenu.js"></script>

<script type="text/javascript" src="js/common.js"></script>

<script async defer src="//maps.googleapis.com/maps/api/js?callback=mapsInit"></script>