<div class="maxwrap">
	<div class="t-block">
		<div class="t-title">Теги:</div>
		<div class="t-control">
			<div class="c-ico ico-30 js-t-toggler">
				<svg class="ico-arrow ico-down" viewBox="0 0 50 50">
					<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ico-down"></use>
				</svg>
			</div>
		</div>
		<div class="t-in">
			<a href="#" class="tag">Кредитование</a>
			<a href="#" class="tag">Вклады</a>
			<a href="#" class="tag">Банковские карты</a>
			<a href="#" class="tag">Интеграционный бизнес</a>
			<a href="#" class="tag">Банковские карты</a>
			<a href="#" class="tag">Вклады</a>
			<a href="#" class="tag">Кредитование</a>
			<a href="#" class="tag">Интеграционный бизнес</a>
		</div>
	</div>
</div>